/* Global Styles */
body {
    font-family: Arial, Verdana;
    background-color: #000000; /* Black background */
    color: #FFFFFF; /* White font */
    margin: 20px 20px 0 20px; /* 20px top and sides, none on bottom */
  }
  
  /* Heading Styles */
  h1 {
    font-size: 42px;
    text-align: center;
    padding: 15px;
  }
  
  h2 {
    font-size: 30px;
    color: #0D0D0D; /* Dark gray font */
  }
  
  /* Paragraph Styles */
  p {
    font-size: 24px;
    padding: 10px 0 0 10px; 
  }
  
  /* Image Styles */
  img {
    width: 250px;
    display: block;
    margin: 0 auto;
    border: 10px dashed #FFFFFF; /* White dashed border */
  }
  
  /* Div Styles */
  div {
    min-height: 125px;
    padding: 20px;
    border: 3px solid #FFFFFF; /* White border */
  }
  
  /* Introduction Class */
  .introduction {
    border-radius: 15px;
    margin-top: 15px;
    line-height: 2; /* Double-spaced text */
  }
  
  /* Red Class */
  div.red {
    background-color: #FF0000; /* Red background */
    text-align: right;
    margin-left: 50px;
    border-top: none;
    border-left: 5px solid #FFFFFF;
    border-right: none;
    border-bottom: 2px solid #FFFFFF;
  }
  
  /* Blue Class */
  div.blue{
    background-color: #0000FF; /* Blue background */
    text-align: left;
    margin-right: 50px;
    border-right: 5px solid #FFFFFF;
    border-top: 2px solid #FFFFFF;
    border-left:none; 
    border-bottom: none; 
  }

.blue h2, .blue p {
    color: #C4C4C4;
}


  /* Yellow Class */
  div.yellow{
    background-color: #FFFF00; /* Yellow background */
    text-align: right;
    margin-left: 50px;
    border-left: 5px solid #FFFFFF;
    border-bottom: 2px solid #FFFFFF; 
    border-right: none; 
    border-top: none;
    color: #707070
  }


  
  /* Green Class */
  div.green {
    background-color: #008500; /* Green background */
    text-align: left;
    margin-right: 50px;
    border-right: 5px solid #FFFFFF;
    border-top: 2px solid #FFFFFF;
    border-bottom: none;
    border-left: none; 

  }
  
  /* Footer Styles */
  footer {
    background: linear-gradient(to right, #000000, #0000FF 25%, #0066FF 70%, #000000);
    border: 5px solid #FFFFFF; /* White border */
  }
  
  footer p {
    font-size: 20px;
    text-align: right;
    padding: 15px 15px 15px 0; /* Padding top, right, bottom */
  }
  
  