body {
    background-color: #000000;
    color: #FFFFFF;
    max-width: 900px;
    margin: 20px 20px 0 20px;
}

h1 {
    text-align: center;
    font-size: 42px;
    padding: 15px;
}

h2 {
    font-size: 30px;
    color: #0D0D0D;
}

p {
    font-size: 24px;
    color: #FFFFFF;
    padding: 10px 0 0 10px;
}

img {
    margin: 20px auto;
    display: block;
    width: 250px; 
    border: 10px dashed #FFFFFF; /* White border on all sides */
}

div {
    min-height: 125px;
    padding: 20px 20px 20px 20px;
    border: 3px solid #FFFFFF;
}

.introduction {
    border-radius: 15px;
    margin-top: 15px;
    line-height: 2;
}

.red {
    background-color: #ff0000;
    text-align: right;
    margin-left: 50px;
    border-bottom: 2px solid #FFFFFF;
    border-left: 5px solid #FFFFFF;
    border-right: none;
}

.blue{
    background: #0000FF;
    text-align: left;
    margin-right: 50px;
    border-top: 2px solid #FFFFFF;
    border-right: 5px solid #FFFFFF;
    border-left: none;
}

.blue h2, .blue p{
    color: #C4C4C4;
}

.yellow{
    background: #FFFF00;
    text-align: right;
    margin-left: 50px;
    border-bottom: 2px solid #FFFFFF;
    border-left: 5px solid #FFFFFF;
    border-right: none;
}

.yellow h2, .yellow p{
    color: #707070;
}

.green{
    background: #008500;
    text-align: left;
    margin-right: 50px;
    border-top: 2px solid #FFFFFF;
    border-right: 5px solid #FFFFFF;
    border-left: none;
}

.red, .blue, .yellow, .green {
    border-right: none;
    border-style: none; /* Ensures no border is applied to all sides */
}

footer {
    background: linear-gradient(to bottom, 
        #000000 0%, 
        #0000FF 25%, 
        #0066FF 70%, 
        #000000 100%);
    border: 5px solid #FFFFFF;
    font-size: 20px;
    text-align: right;
    padding: 15px 15px 15px 0;

}

